{% extends 'base.html' %}

{% block title %}Įrašai{% endblock %}

{% block content %}

{% for post in posts %}

<div class="card mb-4">
    <div class="card-body">
        {% if post.photo %}
        <img class="card-img-top mb-2" src="{{ post.photo.url }}" alt="...">
        {% endif %}
        <div class="small text-muted">
            {% if post.author.photo %}
            <img src="{{ post.author.photo.url }}" class="rounded-circle" style="width: 30px">
            {% endif %}
            {{ post.author }}, {{ post.date | date:"Y-m-d H:i:s" }}
        </div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content | truncatewords:10 }}</p>
        <p><a href="{% url 'post' post.pk %}">Skaityti daugiau</a></p>
        <p>Komentarų: {{ post.comments_count }}</p>
    </div>
</div>

{% endfor %}

{% if is_paginated %}
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link">Previous</a>
    </li>
    {% endif %}

    {% for num in paginator.page_range %}
    {% if page_obj.number == num %}
    <li class="page-item active">
        <span class="page-link">{{ num }}</span>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link">Next</a>
    </li>
    {% endif %}
</ul>
{% endif %}
{% endblock %}